.show-grid {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 9999999;
}
.show-grid .container {
	padding-top: 0;
	padding-bottom: 0;
}
.show-grid [class*='col-'] {
	border-right: 1px solid #ccc;
}
.show-grid [class*='col-']:first-child {
	border-left: 1px solid #ccc;
}
.show-grid.on {
	display: block;
}
.show-grid__column {
	height: 3000px;
	background: rgba(255,0,0,0.05);
}
.container { 
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}
[class*='col-'] { 
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.row { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.page-content { 
	color: red !important;
}


@media (min-width: 0px) and (max-width: 639px) {
}



@media (min-width: 640px) and (max-width: 799px) {
}



@media (min-width: 800px) and (max-width: 1023px) {
}



@media (min-width: 1024px) and (max-width: 1439px) {
}



@media (min-width: 1440px) {
}

