/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
*/

/* Old Breakpoints
––––––––––––––––––––––––––––––––––––––––––––––––––
0-639		single column
640-1023	2 columns
1024+		standard layout, but changing margins/padding/type-size
1800+		extra large layout
*/

/* Breakpoints
––––––––––––––––––––––––––––––––––––––––––––––––––
0-374		2 columns
375-639		6 columns
640-1023	12 columns
1024-1439	12 columns
1440+		12 columns
*/

/* Wordpress Admin Bar Height-Change Breakpoints
––––––––––––––––––––––––––––––––––––––––––––––––––
0-782		46px tall
783-...		32px tall
*/

/* Grid - For showing the grid (press 'G')
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show-grid {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 9999999;
}
.show-grid .container {
	padding-top: 0;
	padding-bottom: 0;
}
.show-grid [class*='col-'] {
	border-right: 1px solid #ccc;
}
.show-grid [class*='col-']:first-child {
	border-left: 1px solid #ccc;
}
.show-grid.on {
	display: block;
}
.show-grid__column {
	height: 3000px;
	background: rgba(255,0,0,0.05);
}
