header section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 40px;
	background-color:inherit;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	text-transform: uppercase;
	font-size: 12px;
	background: #E5E5E5;
	position: relative;
	z-index: 1;
}


#breadcrumbs{
	font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 300;
	color: #4A4A4A;
	margin: 0 0 0 15px;
  font-size: 12px;
	letter-spacing: -0.22px;
}

#breadcrumbs a{
	color: #4A4A4A;
	text-decoration: none;
	margin: 0;
  font-size: 12px;
}
#breadcrumbs>span>span>a{
	color: #002255;
	font-weight: 500;
  font-size: 12px;
}

.breadcrumb_last {
	color: #4A4A4A !important;
  font-size: 12px;
}
