/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Accordion skin 1
  - item closed
  - item open
*/

/* Accordion skin 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion--skin-1 {
	padding: 10px 0px 0px;
}
.accordion--skin-1 .accordion__item {
	padding: 3px 10px;
}
.accordion--skin-1 .accordion__item__title-bar {
	width: 100%;
	display: inline-table;
}
.accordion--skin-1 .accordion__item__main-toggle {
	width: 24px;
    height: 24px;
    box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
	margin-top: 15px;
}
.accordion--skin-1 .accordion__item__title-area {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;

	display: inline-block;
	width: calc(100% - 86px);
	box-sizing: border-box;
	vertical-align: top;
	padding: 0px;
}
.accordion--skin-1 .accordion__item__title-bar,
.accordion--skin-1 .accordion__item__title-area,
.accordion--skin-1 .accordion__item__title-area h3 {
	font-family: "HCo Ringside Narrow SSm";
	font-style: normal;
	font-weight: 400;
	color: #002E5D;
	font-size: 1.416666rem;
	line-height: 2rem;
}
.accordion--skin-1 .accordion__item__content {
	width: 100%;
    margin-left: 0px;
}
.accordion--skin-1 .accordion__item__content,
.accordion--skin-1 .accordion__item__content p {
	font-family: "HCo Ringside Narrow SSm";
	font-style: normal;
	font-weight: 400;
	font-size: 1.166666rem;
	line-height: 1.583333rem;
	word-wrap: break-word;
	color: #002E5D;
}
.accordion--skin-1 .accordion__item__content p {
	margin-bottom: 1.333333rem;
}
.accordion--skin-1 .accordion__item__content p:last-of-type {
	margin-bottom: 0rem;
}

@media (min-width: 640px) {
	.accordion--skin-1 .accordion__item {
		padding: 0px 0px 0px;
	}
	.accordion--skin-1 .accordion__item__main-toggle {
		width: 40px;
	    height: 40px;
		margin-right: 20px;
		margin-top: 17px;
	}
	.accordion--skin-1 .accordion__item__title-area {
		font-size: 1.833333rem;
		width: calc(100% - 60px);
		padding: 0px 0px;
	}
	.accordion--skin-1 .accordion__item__title-area h3 {
		font-size: 1.833333rem;
	}

	.accordion--skin-1 .accordion__item__content {
		width: calc(100% - 60px);
	    margin-left: 60px;
	    padding: 5px 0px;
		font-size: 1.416666rem;
	}
}
/* Accordion skin 1 - Item closed
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion--skin-1 .accordion__item--closed {}
.accordion--skin-1 .accordion__item--closed > .accordion__item__title-bar > .icon.accordion__item__main-toggle {
	border-color: #AFAFAF;
}
.accordion--skin-1 .accordion__item--closed .accordion__item__title-area {}
.accordion--skin-1 .accordion__item--closed > .accordion__item__content {}

.accordion--skin-1 .accordion__item--closed.toggle-hovered {}
.accordion--skin-1 .accordion__item--closed.toggle-hovered > .accordion__item__title-bar > .icon.accordion__item__main-toggle {
	border-color: #002E5D;
}
@media (min-width: 640px) {
	.accordion--skin-1 .accordion__item--closed > .accordion__item__content {
	    padding: 0px 0px;
	}
}

/* Accordion skin 1 - Item open
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion--skin-1 .accordion__item--open {}
.accordion--skin-1 .accordion__item--open > .accordion__item__title-bar > .icon.accordion__item__main-toggle {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
	border-color: #002E5D;
    background-color: #002E5D;
}
.accordion--skin-1 .accordion__item--open .accordion__item__title-area {}
.accordion--skin-1 .accordion__item--open > .accordion__item__content {
	margin-bottom: 10px;
}

.accordion--skin-1 .accordion__item--open.toggle-hovered {}
.accordion--skin-1 .accordion__item--open.toggle-hovered > .accordion__item__title-bar > .icon.accordion__item__main-toggle {
    background-color: #FFFFFF;
}

.accordion--skin-1 .accordion__item--closed.toggle-hovered > .accordion__item__title-bar > .accordion__item__title-area h3 {
	font-weight: 500;
}

.accordion--skin-1 .accordion__item--open > .accordion__item__title-bar > .accordion__item__title-area h3 {
	font-weight: 500;
}

/* Accordion skin 1 - No Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.no-content h3 {
	font-weight: 400 !important;
}
