/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Card skin 1
*/



/* Accordion skin 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h3.card__inner--meta.card__inner--meta-title.card--skin-1 {
	font-family: "HCo Ringside Narrow SSm";
	font-style: normal;
	font-weight: 500;
	font-size: 1.0625rem;
	letter-spacing: -0.05rem;
	color: #002E5D;
	margin-left: 5px;
}

.card__inner--meta.card__inner--meta-author.card--skin-1 {
	font-family: "HCo Ringside Narrow SSm";
	font-style: normal;
	font-weight: 300;
	font-size: 1.166666rem;
	line-height: 1.6rem;
	letter-spacing: -.0433333rem;
	color: #000;
	margin-left: 5px;

}


a.card__inner--meta.card__inner--meta-author.card--skin-1:hover {
	color: #002E5D;
}

a.card__inner--meta.card__inner--meta-author.card--skin-1 {
	position: relative;
	z-index: 9999999;
}

p.card__inner--meta.card__inner--meta-subtext.card--skin-1 {
	font-family: "HCo Ringside Narrow SSm";
	font-weight: 300;
	display: none;
	font-size: 1.333333rem;
	margin-left: 5px;
	overflow: hidden;
}


@media (min-width: 640px) {
	h3.card__inner--meta.card__inner--meta-title.card--skin-1 {
		font-size: 17px;
		line-height: 2.33333rem;
	}
	.card__inner--meta.card__inner--meta-author.card--skin-1 {
		font-size: 14px;
	}
	p.card__inner--meta.card__inner--meta-subtext.card--skin-1 {
		font-size: 14px;
		display: inherit;
	}

}