/* Wordpress specific updates */
html,body{
	width: 100vw;
	min-width:100vw;
	max-width: 100vw;
	margin: 0;
}
.byu-ribbon__search__submit {
	display: none !important;
}
.byu-ribbon__search .byu-ribbon__search__text-box {
	padding: 5px 10px;
	height: 30px;
	border: none;
	box-sizing: border-box;
	border-radius: 0;
}
.mobile-view .byu-ribbon__search .byu-ribbon__search__text-box {
	padding: 5px 10px 5px 16px;
	width: 100%;
	height: 35px;
	border: none;
	border-bottom: 1px solid #c5c5c5;
}
.byu-ribbon__search {
	right: 30px;
}
byu-search #search-results {
	width: 100%;
}

.byu_ribbon_ad_wrap {
	-webkit-order: 1;
	flex: 2;
}

.byu_ribbon_ad_wrap .subnav-add-wrap {
	display: block;
	height: 100%;
}

byu-menu.mobile-view .byu_ribbon_ad_wrap {
	width: calc(100% + 50px + 18px);
	border-top: solid 1px #9e9e9e;
}

byu-menu.mobile-view .subnav-add-wrap {
	height: 48px;
}

.byu_ribbon_ad_wrap .subnav-add-wrap img {
	height: 100%;
}

.byu_ribbon_ad_wrap:hover {
	background: white;
}

/* Sticky Footer addition */
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page-content {
	flex: 1;
}
.invisible_labels {
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
}

@media (min-width: 1024px)
{
	.byu_ribbon_ad_wrap:first-child {
		visibility: visible;
	}
	.byu_ribbon_ad_wrap:last-child {
		position: absolute;
		visibility: hidden;
		right: 10000px;
	}
}

@media (max-width: 1023px) {
	byu-menu.mobile-view .byu_ribbon_ad_wrap {
		max-height: 48px;
	}

	.byu_ribbon_ad_wrap .subnav-add-wrap img {
		position: relative;
		top: -12px;
		left: -50px;
		height: 35px;
	}

	.byu_ribbon_ad_wrap:last-child {
		visibility: visible;
	}

	.byu_ribbon_ad_wrap:first-child {
		position: absolute;
		visibility: hidden;
		right: 10000px;
	}
}

.pull_sub_menu:hover + .custom_sub_menu {
	display: block;
}
.byu-component-rendered:hover .pull_sub_menu:hover .custom_sub_menu, .custom_sub_menu:hover {
	display: block;
}

.custom_sub_menu {
	display: none;
	position: absolute;
	z-index: 1;
	min-height: fit-content;
	width: calc(100% + 42px);
	left: -21px;
	top: 36px;
	background: #c5c5c5;
}

.sub_menu_item {
	display: block;
}

.sub_menu_card {
	display: block;
	margin: 24px 0;
	height: 166px;
	background-color: #002255;
}

.sub_menu_card_txt {
	padding: 0 12px;
	color: white;
	white-space: initial;
	line-height: initial;
}